body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2px;
  background: #f7f5f5;
  display: flex;
    flex-direction: column;
}

header, footer {
  text-align: center;
  background: #6c63ff;
  color: white;
  padding: 10px;
}

main {
  margin: 20px auto;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

#todoList {
  list-style: none;
  padding: 0;
}

#todoList li {
  display: flex;               /* text + button side by side */
  justify-content: space-between;
  align-items: center;
  background: #eee;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
}

.task-text {
  flex: 1;                     /* take available space */
  overflow-x: auto;            /* scroll horizontally if too long */
  white-space: nowrap;         /* prevent wrapping */
}

.delete-btn {
  margin-left: 10px;
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
